.container-anc {
    -fx-background-color: linear-gradient(to right top ,#1A3B4B, #0F9EA5 );
}

.header {
    -fx-background-color: #272640;
    -fx-background-radius: 30;
}

.panel-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}

.search-button {
    -fx-background-color: #1234;
    -fx-background-radius: 30;
}

.day-off-button {
    -fx-background-color: rgba(255, 143, 143, 0.7);
    -fx-background-radius: 30;
}

.input-fields {
    -fx-background-color: #1234;
    -fx-border-color: #3E1F47;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: white;
}

.id-label {
    -fx-background-color: #212F45;
    -fx-background-radius: 30;
}

.add-button {
    -fx-background-color: rgba(120, 229, 16, 0.7);
    -fx-background-radius: 30;
}

.update-button {
    -fx-background-color: rgba(255, 255, 0, 0.7);
    -fx-background-radius: 30;
}

.logout-button {
    -fx-background-color: rgba(255, 0, 0, 0.6);
    -fx-background-radius: 30;
}

.delete-button {
    -fx-background-color: rgba(255, 0, 0, 0.6);
    -fx-background-radius: 30;
}

.low-btn {
    -fx-background-color: rgba(255, 165, 0, 0.7);
    -fx-background-radius: 30;
}

.restock-qty-field {
    -fx-background-color: #212F45;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}