.left-box {
    -fx-background-color: linear-gradient(to right bottom ,#312244, #4D194D);
    -fx-background-radius: 30;
}

.container-anc {
    -fx-background-color: linear-gradient(to right top ,#1A3B4B, #0F9EA5 );
}

.panel-buttons {
    -fx-background-color: transparent;
}

.logout-button {
    -fx-background-color: rgba(255, 0, 0, 0.6);
    -fx-background-radius: 30;
}

.top-panel-box {
    -fx-background-color: #272640;
    -fx-background-radius: 30;
}

.input-fields {
    -fx-background-color: #1234;
    -fx-border-color: #3E1F47;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: white;
}

.add-btn {
    -fx-background-color: #78e510;
    -fx-background-radius: 30;
}

.update-btn {
    -fx-background-color: #e9d700;
    -fx-background-radius: 30;
}

.delete-btn {
    -fx-background-color: #f44336;
    -fx-background-radius: 30;
}

.check-btn {
    -fx-background-color: #555555;
    -fx-background-radius: 30;
}